<%= render 'layouts/header', title: 'ユーザー登録' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'formBox' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <% if flash.any? %>
    <ul class='errorBox'>
      <% flash.each do |key, value| %>
        <li><%= value %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length}文字以上" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= link_to "ログイン", new_user_session_path, class: 'loginLink' %>

<style>
.loginLink {
  margin: 0 0 0 80px;
}
</style>
