<%= render 'layouts/header', title: 'ログイン' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'formBox' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <% if flash.any? %>
    <ul class='errorBox'>
      <% flash.each do |key, value| %>
        <li><%= value %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.label :remember_me, class: 'checkBoxLabel' %>
      <%= f.check_box :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= link_to "新規登録", new_user_registration_path, class: 'registrationLink' %>

<style>
.registrationLink {
  margin: 0 0 0 80px;
}
</style>
